
@model Young.App.CQRS.QueryResult.HotelsByIDDateQueryResult

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>HOTEL ID</th>
            <th>HOTEL NAME</th>
            <th>RATE NAME</th>
            <th>RATE DATE</th>
            <th>DESCRIPTION</th>
        </tr>
        @foreach (var t in Model.Hotels)
        {
            foreach (var r in t.hotelRates)
            {
                <tr><td>@t.hotel.hotelID</td><td>@t.hotel.name</td><td>@r.rateName</td><td>@r.targetDay</td><td>@r.rateDescription</td></tr>
            }
        }
    </thead>
    <tbody></tbody>
</table>  